[Unit]
Description=Elke minuut meetgegevens verzamelen

[Timer]
OnCalendar=minutely
AccuracySec=5s
Persistent=false

[Install]
WantedBy=timers.target
